<h1>Add a Doctor Office</h1>

<form action="/doctors_offices" method="post">
  <label for="name">Doctor Office Name:</label>
  <input type="text" name="name" id="name">

  <label for="specialty">Doctor Office Specialty:</label>
  <input type="text" name="specialty" id="specialty">

  <button type="submit">Add Doctor Office</button>
</form>
