<% if @doctors_offices.!=("#") %>
  <h3>Here are all the Doctors Offices in this Database</h3>
  <table>
    <% @doctors_offices.each() do |doctors_office| %>
    <tr>

    </tr>
    <% end %>
  </table>
<% else %>
  <h3>There are no doctors offices yet add one below</h3>
<% end %>
<a href="/"><button type="button" name="button">Add New Office</button></a>
